// COLORS
$color-white: #eef4ed;
$text-color: #0b2545;
$primary-color: #134074;
$secondary-color: #8da9c4;
$third-color: #fdca40;

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(141, 169, 196, 0.5);
  background-color: white;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(141, 169, 196, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: $primary-color;
    color: $third-color;
  }
  .choice-text {
    padding: 1.5rem;
    width: 100%;
    background-color: transparent;
  }
}
.correct {
  background-color: #28a745 !important;
}
.incorrect {
  background-color: #dc3545 !important;
}

//HUD
#hud {
  display: flex;
  justify-content: space-between;
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  .hud-main-text {
    text-align: center;
  }

  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid $primary-color;
    margin-top: 1.5rem;
  }
  #progressBarFull {
    height: 3.4rem;
    background-color: $primary-color;
    width: 0%;
  }
}
