#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
  .high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    transition: 0.5s;
    &:hover {
      transform: scale(1.025);
    }
    .pts {
      color: #fdca40;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }
}
